[submodule "sudo_pour_me_a_drink/typesetter/modules/UseLATEX"]
	path = sudo_pour_me_a_drink/typesetter/modules/UseLATEX
	url = git@gitlab.kitware.com:kmorel/UseLATEX.git
[submodule "sudo_pour_me_a_drink/typesetter/modules/PyLaTeX"]
	path = sudo_pour_me_a_drink/typesetter/modules/PyLaTeX
	url = git@github.com:JelteF/PyLaTeX.git
